{% block content %}
    <ul{{ juicer_attributes }}>
        <h1 class="referral sr-only" style="display: none !important;">
            <a href="https://www.juicer.io">Powered by Juicer</a>
        </h1>
    </ul>
{% endblock %}
